body{
    margin: 0;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
.header{
    display: inline-block;
    position: fixed;
    top: 10px;
    height: 20px;
    width: 100%;
}
.left{
    float: left;
}

.header_left_a{
    margin-left:5px;
    padding-left: 5px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
    font: 13px/23px 'PingFang SC',Arial,'Microsoft YaHei',sans-serif;
}

.right{
    float: right;
}

.setting{
    float: left;
    margin-right: 10px;
    text-align: center;
    width: 70px;
}
.manue-f{
    display: table;
    margin-top:10px;
}
.manue{
    display: none;
    vertical-align: middle;
    border-radius: 10px 10px 10px 10px ;
    border:1px solid #fff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);
}
.manue-a{
    color: black;
    font-size: 13px;

}

.loginbtn{
    margin-right: 20px;
    float: right;
    height: 24px;
    width: 48px;
    background-color: #4e71f2;
    border-radius: 8px;
    text-align: center;
}
.login_btn{
    text-decoration: none;
    color: #f5f5f6;
    font: 13px/23px 'PingFang SC',Arial,'Microsoft YaHei',sans-serif;
}


.bodyer{
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
.logoimg_div{
    text-align: center;
}
.logoimg{
    width: 270px;
    height: 129px;
}

.form-search{
    position: relative;
    text-align: center;
}
.search-table{
    text-align: center;
    border: 2px solid #c4c7ce;
    border-radius: 10px 10px 10px 10px;
    width:600px;
    height:40px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.search-content{
    display: inline-block;
    position: absolute;
    padding-left: 15px;
    padding-top:5px;
    display:block;
    text-align: center;
}
.content{
    width: 400px;
    height: 30px;
    overflow: hidden; 
    outline: 0; 
    box-shadow: none;
    border: none;
    font: 17px/23px 'PingFang SC',Arial,'Microsoft YaHei',sans-serif;
}

.search-btn{
    display: inline-block;
    float: right;
    margin-top: -2px;
    margin-right: -2px;
    width: 100px;
    height: 44px;
    border: 2px solid #4e6ef2;
    border-radius: 0px 10px 10px 0px ;
    background-color: #4e6ef2;
    padding: 0px;
    color: #fff;
    font-size:17px;
    border:none;
    font-weight: 400
}

.hot{
    /* margin: auto; */
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 180px;
    text-align: center;
}
.title_left{
    display: inline-block;
    float: left;
    padding-left: 80px;
    /* text-align: center; */
}
.left_text{
    text-decoration: none;
    color: #222;
    font:14px/24px 'PingFang SC',Arial,'Microsoft YaHei',sans-serif;
}
.title_right{
    display: inline-block;
    float: right;
    padding-right: 80px;
    /* text-align: center; */
    /* position: absolute; */
    /* margin-left: 600px; */
}
.icon{
    padding-top: 4px;
    display:inline-block;
    /* text-align: right; */
    width: 13px;
    height: 14px;
}
.icon_text{
    padding-left:3px;
    padding-top: 1px;
    /* padding-top: 10px; */
    float: right;
    color: #9195a3;
    font: 14px/23px 'PingFang SC',Arial,'Microsoft YaHei',sans-serif;
}

.hotcontent{
    display: inline-block;
    width: 100%;
}
.content_left{
    margin-left: 0;
    float: left;
    text-align: left;
    padding-left: 80px;
}
.content_right{
    margin-right: 0;
    float: right;
    text-align: left;
    padding-right: 80px;
}
ol,li{
    padding: 0;
    list-style: none;
    font:14px/24px 'PingFang SC',Arial,'Microsoft YaHei',sans-serif;
}
.index_1{
    background-image: url(/pra_/pra_baidu/top_1@1x-d1e660cf3b.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    text-align: center;
    margin-right: 8px;
    color:white;

}
.index_2{
    background-image: url(/pra_/pra_baidu/top_2@1x-50e9c7fdf4.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    text-align: center;
    margin-right: 8px;
    color:white;
}
.index_3{
    background-image:url(/pra_/pra_baidu/top_3@1x-676616abe1.png);
    display:inline-block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    text-align: center;
    margin-right: 8px;
    color:white;
}
.index_{
    background-image:url(/pra_/pra_baidu/top_4@1x-8cffd4622f.png);
    display: inline-block;
    width: 20px;
    height:20px;
    background-size: 100% 100%;
    text-align: center;
    margin-right: 8px;
    color:#9195a3;
}
.hotimg{
    /* display: inline-block; */
    padding-left:3px;
    margin-bottom: -2px;
    height: 16px;
    width: 16px;
}


.scar_img{
    position: fixed;
    display: inline-block;
    width: 17%;
    height: 150px;
    bottom: 80px;
    padding-left: 83%;
}

.scarimg-border{
    display: inline-block;
    float: right;
    width: 44px;
    margin-right: 20px;
    margin-top: 75px ;
}

.scarimg{
    border-radius: 50%;
    float: right;
    bottom: 20px;
    width: 24px;
    height: 24px;
    right: 30px; 
}

.scar_border{
    position: relative;
    float: left;
    width: 250px;
    height: 100px;
    border:1px solid #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);
}
.ewm{
    float: right;
    width: 57px;
    height: 57px;
    padding-right: 15px;
    padding-top: 12px;
}

.up-scar_border{
    padding-top:10px;
    padding-left: 10px;
    height: 20px;
    width: 160px;
}
.bigp{
    display: inline-block;
    font-size: 18px;
    color: #333333;
}
.saoyisao-border{
    float: left;
    left: 0px;
    width: 18px;
    height: 18px;
}
.saoyisao{   
    padding-right: 3px;
    padding-top: 4px;
    width: 17px;
    height: 17px;
}

.smallp{
    float: left;
    padding-left: 10px;
    font-size:14px;
    color:#9195a3;
}



.footer{
    display: inline-block;
    width: 100%;
    z-index: 302;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    overflow: hidden;
    margin: 0;
    background-color: #fbfbfb;
    text-align: left;
}
.footer-left{
    float: left;
    font: 12px/24px "PingFang SC",Arial,"Microsoft YaHei",sans-serif;
    line-height: 40px;
}
.footer-right{
    float: right;
    margin-right: 40px;
    font: 12px/24px "PingFang SC",Arial,"Microsoft YaHei",sans-serif;
    line-height: 40px;
}

.footer-content{
    padding-left: 20px;
    color:#9195a3;
}