body{
    margin: 0;
    width: 1263;
    height: 180;
}
.header{
    margin: 0px;
    height: 20px;
    margin-top: 20px;
    margin-left:5px;
    position: relative;
}
a{
    text-decoration: none;
}
.header_left_a{
    margin-left:5px;
    padding-left: 5px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
    font: 13px/23px 'PingFang SC',Arial,'Microsoft YaHei',sans-serif;
}
.right{
    position:absolute;
    right: 0;
    top: 0;
    margin-right:16px;
    float: right;
    height: 24px;
    width: 48px;
    background-color: #4e71f2;
    border-radius: 8px;
    text-align: center;
}
.login_btna{
    text-align: center;
    line-height: 24px;
    text-decoration: none;
    color: #f5f5f6;
    font: 13px/23px 'PingFang SC',Arial,'Microsoft YaHei',sans-serif;
}
.bodyer{
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
.logoimg_div{
    text-align: center;
}
.logoimg{
    width: 270px;
    height: 129px;
}


.search-table{
    text-align: center;
    border: 2px solid #c4c7ce;
    border-radius: 10px 10px 10px 10px;
    width:515px;
    height:40px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.search-content{
    display: inline-block;
    position: absolute;
    padding-left: 15px;
    padding-top:5px;
    display:block;
    text-align: center;
}
.content{
    width: 350px;
    height: 30px;
    overflow: hidden; 
    outline: 0; 
    box-shadow: none;
    border: none;
    font: 17px/23px 'PingFang SC',Arial,'Microsoft YaHei',sans-serif;
}

.search-btn{
    display: inline-block;
    float: right;
    margin-top: -2px;
    margin-right: -2px;
    width: 100px;
    height: 44px;
    border: 2px solid #4e6ef2;
    border-radius: 0px 10px 10px 0px ;
    background-color: #4e6ef2;
    padding: 0px;
    color: #fff;
    font-size:17px;
    border:none;
    font-weight: 400
}

.hot{
    width: 750px;
    height: 180px;
    margin-top: 100px;
}
.title_left{
    position: absolute;
    padding-left:0px;
}
.left_text{
    text-decoration: none;
    color: #222;
    font:14px/24px 'PingFang SC',Arial,'Microsoft YaHei',sans-serif;
}
.title_right{
    /* position: absolute; */
    float: right;
    /* margin-left: 600px; */
}
.icon{
    padding-top: 4px;
    display:inline-block;
    /* text-align: right; */
    width: 13px;
    height: 14px;
}
.icon_text{
    padding-left:3px;
    padding-top: 1px;
    /* padding-top: 10px; */
    float: right;
    color: #9195a3;
    font: 14px/23px 'PingFang SC',Arial,'Microsoft YaHei',sans-serif;
}

.hotcontent{
    display: inline-block;
    width: 100%;
}
.content_left{
    float: left;
    padding:0px;
    text-align: left;
}
.content_right{
    float: right;
    padding:0px;
    text-align: left;
}
ol,li{
    padding: 0;
    list-style: none;
    font:14px/24px 'PingFang SC',Arial,'Microsoft YaHei',sans-serif;
}
.index_1{
    background-image: url(/pra_/pra_baidu/top_1@1x-d1e660cf3b.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    text-align: center;
    margin-right: 8px;
    color:white;

}
.index_2{
    background-image: url(/pra_/pra_baidu/top_2@1x-50e9c7fdf4.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    text-align: center;
    margin-right: 8px;
    color:white;
}
.index_3{
    background-image:url(/pra_/pra_baidu/top_3@1x-676616abe1.png);
    display:inline-block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    text-align: center;
    margin-right: 8px;
    color:white;
}
.index_{
    background-image:url(/pra_/pra_baidu/top_4@1x-8cffd4622f.png);
    display: inline-block;
    width: 20px;
    height:20px;
    background-size: 100% 100%;
    text-align: center;
    margin-right: 8px;
    color:#9195a3;
}
.hotimg{
    /* display: inline-block; */
    padding-left:3px;
    margin-bottom: -2px;
    height: 16px;
    width: 16px;
}
.scar_img{
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    bottom:0px;
    padding-left:1230px;
    margin-top:150px
}
.scarimg{
    width: 24px;
    height: 24px;
}
.footer{
    display: block;
}
.footer-left{
    margin-top: 10px;
    float: left;
    bottom: 0px;
    font: 12px/24px "PingFang SC",Arial,"Microsoft YaHei",sans-serif;
    padding-left: 10px;
}
.footer-right{
    margin-top: 10px;
    box-sizing: border-box;
    float: right;
    bottom: 0px;
    font: 12px/24px "PingFang SC",Arial,"Microsoft YaHei",sans-serif;
    padding-right: 20px;
}
.footer-content{
    padding-left: 20px;
    color:#9195a3;
}