.header{
    margin: 0px;
    height: 80px;
    margin-top: 20px;
    margin-left:5px;
    position: relative;
}
.left>a{
    margin-left:5px;
    padding-left: 5px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
    font: 13px/23px 'PingFang SC',Arial,'Microsoft YaHei',sans-serif;
}
.right{
    position:absolute;
    right: 0;
    top: 0;
    margin-right:16px;
    float: right;
    height: 24px;
    width: 48px;
    background-color: #4e71f2;
    border-radius: 8px;
    text-align: center;
}
.login_btna{
    text-align: center;
    line-height: 24px;
    text-decoration: none;
    color: #f5f5f6;
    font: 13px/23px 'PingFang SC',Arial,'Microsoft YaHei',sans-serif;
}
.bodyer{
    margin:0px ;
}
.logoimg{
    width: 270px;
    height: 129px;
    margin-right: 50%;
    margin-left: 50%;
}
.form-search{
    border: 2px solid blue;
    

}